@font-face {
     font-family: vcr-mono;
     src: url("../font/VCR_OSD_MONO_1.001.ttf") format('truetype');
}
* {
     font-family:vcr-mono;
     color:#657179
}

header > #img{
     display: block;
     margin-left:auto;
     margin-right:auto;
     width: 80%;
     background-color:rgba(255,255,255,0.2);
     border-radius: 10px;
     border: solid 36px transparent;
     border-image: url("../img/cloudborder.png") 96 round;
}
header > #logo{
     display: block;
     margin-left:auto;
     margin-right:auto;
     width: 50%;
}

html {
     background-image: linear-gradient(rgba(255,255,255,0.4)),
                         url("../img/sunnybg.png");
     background-attachment:fixed;
     background-size:cover;
}
body {
     box-shadow: -100px 0px 100px 10px rgba(255,255,255,0.3),
                 100px 0px 100px 10px rgba(255,255,255,0.3);
     background-color:rgb(241,244,247);
     border-radius: 10px;
     border:solid 64px transparent;
     border-image:url("../img/cloudborder.png") 85 round;
     border-image-outset: 33px;
}
div {
     background-color:rgba(255,255,255,0.2);
     padding: 1em;
     border-radius: 10px;
     border: solid 36px transparent;
     border-image: url("../img/cloudborder.png") 96 round;
}
h1,h2 {
     font-size: 4em;
     text-align: center;
     color:rgb(241,244,247);
     text-shadow: 3px 3px 1px #b4c5d1,
               -3px -3px 1px #cdf1f4;
}
h2 {
     font-size: 2em;
}    
ul>li:nth-of-type(1){
     padding-top: 1em;
}
li > a:hover{
     color:rgb(143, 157, 172);
     text-shadow: 1px 1px 1px #b4c5d1,
               -1px -1px 1px #cdf1f4;
}
li> a:active{
     color:rgb(241,244,247);
     text-shadow: 1px 1px 1px #b4c5d1,
               -1px -1px 1px #cdf1f4;
}
li > a{
     text-decoration:none;
}